{
    "presets": ["@babel/preset-env"],
    "plugin": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-async-to-generator"
    ],
    "script":[
        "module",
        "unambiguous"
    ] 
}